{% extends "base.html" %}
{% load humanize %}

{% block title %}Marketplace Consumer Requests{% endblock %}

{% block extra_css %}
<!--TODO in iter4-->
{% endblock %}

{% block content %}
<h1>Marketplace Consumer Requests</h1>
<form method="get" style="margin-bottom: 1rem;">
    <p>{{ filter_form.keyword.label }}: {{ filter_form.keyword }}</p>
    <p>{{ filter_form.category.label }}: {{ filter_form.category }}</p>
    <p> Price Range: {{ filter_form.min_price }} to {{ filter_form.max_price }}</p>
    <button type="submit">Filter</button>
</form>
{% if crs %}
    {% for cr in page_consumer_requests %}
        <div>
            <p>Title: <a href="{% url 'marketplace:consumer_request_detail' pk=cr.pk %}"> {{ cr.title }}</a></p>
            <p>Category: {{ cr.category }}</p>
            <p>Price Range: {{ cr.min_price }} - {{ cr.max_price}}</p>
            <p>Consumer: {{ cr.consumer.consumer_profile.full_name }}</p>
            {% if cr.images.exists %}
                {% for image in cr.images.all %}
                    {% if forloop.counter == 1 %}
                        <img src="{{ image.image.url }}" alt="Main Picture">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <br>
    {% endfor %}

    {% if page_consumer_requests.paginator.num_pages > 1 %}
    <div class="pagination">
        <div class="page-links">
            {% if page_consumer_requests.has_previous %}
                <a class="page-link" href="?page=1&{{ request_get }}">« First</a>
                <a class="page-link" href="?page={{ page_consumer_requests.previous_page_number }}&{{ request_get }}">‹ Prev</a>
            {% endif %}
            <span class="page-link current">{{ page_listings.number }}</span>
            {% if page_listings.has_next %}
                <a class="page-link" href="?page={{ page_consumer_requests.next_page_number }}&{{ request_get }}">Next ›</a>
                <a class="page-link" href="?page={{ page_consumer_requests.paginator.num_pages }}&{{ request_get }}">Last »</a>
            {% endif %}
        </div>
        <div class="page-info">
            Page {{ page_consumer_requests.number }} of {{ page_consumer_requests.paginator.num_pages }}
            &nbsp;·&nbsp;
            {{ crs|length }} result{{ crs|length|pluralize }}
        </div>
    </div>
    <div>
        <p>There 
        {% if is_one_per_page %}
            is 1 item 
        {% else %}
            are {{ page_item_count }} items
        {% endif %}
        per page </p>
        <form method="get" style="margin-bottom: 1rem;">
            {{ dictate_form.dictate }}
            <button type="submit">Change</button>
        </form>
    </div>
    {% endif %}

{% else %}
    <p>No Consumer Requests Available. Come back at a different time!</p>
{% endif %}

{% endblock %}